<meta name="viewport" content="width=device-width,initial-scale=1">
<header class="align">

  <nav class="navigation navigation--inline">
    <ul>
      <li>
        <%= link_to "マイページへ", 'http://127.0.0.1:3000/users' %>
      </li>
      <li>
        <a href="http://127.0.0.1:3000/lists">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　通知画面へ　</span>
        </a>
      </li>
    </ul>
  </nav>

</header>


<style>
div.box10  { width: 350px;
           height: 10px; padding: 20px;
           background: #FFFFFF;
           border: 4px; font-size: 13px; color: #000;
           border-top-left-radius: 30px;
           border-top-right-radius: 30px;
           border-bottom-right-radius: 30px;
           border-bottom-left-radius: 30px;
           box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
           left:0;
           right:0;
           margin: auto;
           margin-top: 20px;
           text-align: center;
       }

       a {
          color: #000000;
          font-size: 15px;
          text-decoration: none;
          font-weight: 600;
          text-align: center;
          }
</style>

<div class="mokuji">請求済みの仕事</div>

<% @lists.each do |list| %>
 <div class="box10">
     <a><%= link_to list.name, list_task_path(list) %></a>
 </div>
<% end %>