<meta name="viewport" content="width=device-width,initial-scale=1">
<header class="align">

  <nav class="navigation navigation--inline">
    <ul>
      <li>
        <%= link_to "<", users_sale_history_path %>
      </li>
      <li>
        <a href="http://127.0.0.1:3000/lists">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　通知画面へ　</span>
        </a>
      </li>
    </ul>
  </nav>

</header>


<div class="mokuji1">12月売上</div>

<div class="mokuji2">合計 <%= @task %> 円</div>

<% @lists.each do |list| %>
 <div class="box15">
     <a1><%= link_to list.name, list_tasks_twelve_detail_path(list) %></a1>
 </div>
<% end %>

<style>
	div.box15 {
		width: 350px;
           height: 10px; padding: 20px;
           background: #FFFFFF;
           border: 4px; font-size: 13px; color: #000;
           border-top-left-radius: 30px;
           border-top-right-radius: 30px;
           border-bottom-right-radius: 30px;
           border-bottom-left-radius: 30px;
           box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
           left:0;
           right:0;
           margin: auto;
           margin-top: 30px;
           text-align: center;

          a1 {
          color: #000000;
          font-size: 15px;
          text-decoration: none;
          font-weight: 600;
          text-align: center;
          }
	}
</style>