<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
  <h2><%= @user.company_name %> 様</h2>
  <hr />
  <p>
    こんにちは！ <%= @user.company_name %>さん！</p>
    <%= @list.name %>の<%= @task %>の納期がもうすぐです！
  <hr />
</body>
</html>