<div class="center">
    <% Thumbnail.where("task_id = ?", params[:id]).find_each do |thumbnails| %>
        <li>
         <%= link_to image_tag(thumbnails.images.to_s) %>
        </li>
    <% end %>
</div>


<style>
.center {
  text-align: center;
}


</style>