<div class="center">
        <%= image_tag(@task.image.to_s) %>
</div>



<style>
div.center {
  position: absolute;
  top: 50px;
  right: 0px;
  bottom: 50px;
  left: 0px;
  text-align: center;
}

body {
	background-color: transparent;
	color: transparent;
}


</style>