<div class="center">
        <%= image_tag(@task.image.to_s) %>
</div>



<style>
div.center {
  /*text-align: center;*/
  margin: auto;
}

body {
	background-color: transparent;
	color: transparent;
}


</style>