<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130654065-1"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-130654065-1');
 </script>
</head>

<meta name="viewport" content="width=device-width,initial-scale=1">
<header class="align">

  <nav class="navigation2 navigation--inline">
    <ul>
      <li>
       <a href="https://otask.herokuapp.com/lists/eleven_month">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　<　</span>
        </a>
      <li>
    </ul>
  </nav>

</header>

<div class = "mokuji">
<% @tasks.each do |task| %>
 <div class="box3">
     <a><%= task.taskname %>,        <%= task.sale %>円</a>
 </div>
<% end %>
</div>