<meta name="viewport" content="width=device-width,initial-scale=1">

<header class="align">

  <nav class="navigation navigation--inline">
    <ul>
      <li>
        <a href="http://127.0.0.1:3000/lists/seven_month">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　<　</span>
        </a>
      </li>
    </ul>
  </nav>

</header>

<div class = "mokuji">
<% @tasks.each do |task| %>
 <div class="box3">
     <a><%= task.taskname %>,        <%= task.sale %>円</a>
 </div>
</div>
<% end %>