<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>drag and drop | jQuery JavaScript</title>
</head>
<body>

<header class="align">

  <nav class="navigation navigation--inline">
    <ul>
      <li>
        <a href="http://127.0.0.1:3000/lists/show">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　<　</span>
        </a>
      </li>
    </ul>
  </nav>

</header>

<style>
  body {
    margin: 10px;
  }
  .list {
    padding-bottom: 20px;
    margin-right: 60px;
    float: left;
    width: $list-width;
    height: calc(100% - #{$gap} - #{$scrollbar-thickness});

  > * {
    background-color: $list-bg-color;
    color: #333;

    padding: 0 $gap;
  }
  }
  .list li {
    padding: 5px 10px;
    border: 1px solid #0c5460;
    list-style: none;
  }
  .list li:hover {
    cursor: move;
  }

  .list li {
      background-color: #fff;
      padding: $gap;
      &:not(:last-child) {
        margin-bottom: $gap;
      }

      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      img {
        display: block;
        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }
  /*.a { background-color: #fff999; }
  .b { background-color: #f3981d; }
  .c { background-color: #a4d5bd; }*/
</style>

<div class="lists">
  <div class="lists_wrap">
  <div class="list">
    <ul class="list" id="list1">
    <header1><%= @suppliers.name %></header1>
      <% Task.where("list_id = ? AND flag_id = 4", params[:list_id]).find_each do |task| %>
        <li class="a1">
         <%= link_to task.taskname, edit_list_task_path(:id => task.id),  :style => 'color: #000000;' %>
         <%= link_to 'TODOに戻す',  todo_list_task_path(:id => task.id), :method => :put %>

        </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>


</body>
</html>


