<header class="align">

  <nav class="navigation navigation--inline">
    <ul>
      <li>
        <a href="http://127.0.0.1:3000/lists/six_month">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　<　</span>
        </a>
      </li>
    </ul>
  </nav>

</header>

<% @tasks.each do |task| %>
 <div class="box3">
     <a1><%= task.taskname %>,        <%= task.sale %>円</a1>
 </div>
<% end %>