<meta name="viewport" content="width=device-width,initial-scale=1">
<header class="align">

  <nav class="navigation2 navigation--inline">
    <ul>
      <li>
        <a href="https://otask.herokuapp.com/lists/twelve_month">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　<　</span>
        </a>
      </li>
    </ul>
  </nav>

</header>


<div class="mokuji">
<% @tasks.each do |task| %>
 <div class="box3">
     <a><%= task.taskname %>,        <%= task.sale %>円</a>
 </div>
<% end %>
</div>
