<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130654065-1"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-130654065-1');
 </script>
</head>

<h3>解約するとデータが全て削除されます。<br><br><br>本当に解約してもいいですか？</h3>

<div class="actions">
  <button class="button8" type="submit">
   <%= link_to "解約する", pay_delete_path, method: :delete, :style => 'color: #FFFFFF;' %>
  </button>
  <button class="button9" type="submit">
   <%= link_to "ホームへ戻る", users_path, :style => 'color: #FFFFFF;' %>
  </button>
</div>

<style>
 h3 {
 	margin-top: 200px;
 	text-align: center;
 	color: #FFFFFF;
 	font-weight: 600;
 	font-size: 30px;
 }
</style>