<h3>解約するとデータが全て削除されます。<br>本当に解約してもいいですか？</h3>

<div class="actions">
  <button class="button8" type="submit">
   <%= link_to "解約", pay_delete_path, method: :delete %>
  </button>
</div>

<style>
 h3 {
 	margin: auto;
 	color: #FFFFFF;
 	font-weight: 600;
 }
</style>