<h3>解約完了しました。<br><br>ご利用いただきありがとうございました。</h3>

<button class="button8" type="submit">
   <a href="https://otask.info">ホームページへ</a>
</button>

<style>
 h3 {
 	margin-top: 200px;
 	text-align: center;
 	color: #FFFFFF;
 	font-weight: 600;
 	font-size: 30px;
 }
 a {
 	color: #FFFFFF;
 }
</style>