<h3>解約するとデータが全て削除されます。<br><br><br>本当に解約してもいいですか？</h3>

<div class="actions">
  <button class="button8" type="submit">
   <%= link_to "解約する", pay_delete_path, method: :delete, :style => 'color: #FFFFFF;' %>
  </button>
  <button class="button9" type="submit">
   <%= link_to "戻る", edit_user_registration_path, :style => 'color: #FFFFFF;' %>
  </button>
</div>

<style>
 h3 {
 	margin-top: 200px;
 	text-align: center;
 	color: #FFFFFF;
 	font-weight: 600;
 	font-size: 30px;
 }
</style>