<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130654065-1"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-130654065-1');
 </script>
</head>

<h3>解約完了しました。<br><br>ご利用いただきありがとうございました。</h3>

<button class="button8" type="submit">
   <a href="https://otask.info">ホームページへ</a>
</button>

<style>
 h3 {
 	margin-top: 200px;
 	text-align: center;
 	color: #FFFFFF;
 	font-weight: 600;
 	font-size: 30px;
 }
 a {
 	color: #FFFFFF;
 }
</style>