<meta name="viewport" content="width=device-width,initial-scale=1">
<header class="align">

  <nav class="navigation navigation--inline">
    <ul>
      <li>
        <a href="http://127.0.0.1:3000/users">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="demoSpan1">
          <span class="demoSpan2">
          </span>
          </span>
        </a>
      </li>
      <li>
        <a href="http://127.0.0.1:3000/users">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="demoSpan3">
          </span>
        </a>
      </li>
    </ul>
  </nav>

</header>




<div class="box5"><a href="http://127.0.0.1:3000/lists">仕事管理</a></div>
<div class="box8"><a href="http://127.0.0.1:3000/lists/show">請求済みの仕事</a></div>


<div class="box15"><a href="http://127.0.0.1:3000/lists">仕事管理へ</a></div>




 <div class="box9"><a>収支管理</a></div>
 <div class="box12"><a href="http://127.0.0.1:3000/users/edit">ユーザー編集</a></div>

 <!-- <div class="box7"><a href="http://127.0.0.1:3000/users/sale_history">売上履歴</a></div> -->
 <!-- <div class="box9"><a>今日の売上<br><br><br><br><%= @login_user.sales %>円</a></div> -->
 <!-- <div class="box11"><a>今月の売上<br><br><br><br><%= @tasks %>円</a></div> <br><br><br><br> -->

 <style type="text/css">
 span{height:40px; width:40px; display:block; position:relative;}

.demoSpan1{width:40px; height:40px; display:block;}

.demoSpan1:before{content:''; height:20px; width:24px; display:block; border:3px #333 solid; border-top:0; position:absolute; top:15px; left:5px;}

.demoSpan1:after{content:''; height:8px; width:6px; display:block; position:absolute; top:25px; left:15px; border:2px solid #333;}

.demoSpan2:before{content:''; height:12px; width:5px; display:block; position:absolute; top:3px; left:28px; background:#333;}

.demoSpan2:after{content:''; height:24px; width:23px; border-top:5px #333 solid; border-right:5px #333 solid; position:absolute; top:4px; left:6px; transform:scale(1,0.8) rotate(-45deg);-webkit-transform:scale(1,0.8) rotate(-45deg);-moz-transform:scale(1,0.8) rotate(-45deg);-o-transform:scale(1,0.8) rotate(-45deg);-ms-transform:scale(1,0.8) rotate(-45deg);}

  </style>

<style type="text/css">
 span{height:40px; width:40px; display:block; position:relative;}

.demoSpan3:before, .demoSpan3:after{content:''; height:20px; display:block; position:absolute; top:0; left:920px; }

.demoSpan3:before{width:20px; border:3px #333 solid; border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;}

.demoSpan3:after{width:7px; background:#333; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); top:17px; left:944px;}

</style>