<header>
  <div class="actions">
    <button class="button">通知</button>
  </div>
</header>


<h2><%= @login_user.company_name %></h2>

<div class="actions">
    <button class="button">仕事管理へ</button>
</div>