<header class="align">

  <nav class="navigation navigation--inline">
    <ul>
      <li>
        <a href="http://127.0.0.1:3000/users">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell">
          <span class="invisible">　通知画面へ　</span>
        </a>
      </li>
    </ul>
  </nav>

</header>


<h2><%= @login_user.company_name %></h2>
<p>今日の売上　　円</p>

<div class="boxs">
 <div class="box5"><a href="http://127.0.0.1:3000/lists">仕事管理へ</a></div>

 <div class="box6"><a href="http://127.0.0.1:3000/users/edit">ユーザー編集</a></div>
</div>


<div class="boxs2">
 <div class="box7"><a href="http://127.0.0.1:3000/lists">売上履歴</a></div>
 <div class="box8"><a href="http://127.0.0.1:3000/lists/show">請求済みの仕事</a></div>
</div>

