<header>
  <div class="boxy">
  <a href="http://127.0.0.1:3000">通知</a>
</div>
</header>


<h2><%= @login_user.company_name %></h2>

<div class="boxy">
  <a href="http://127.0.0.1:3000/lists">仕事管理へ</a>
</div>