<header class="align">

  <nav class="navigation navigation--inline">
    <ul>
      <li>
        <!-- <a href="https://www.qpit-koi.com/homes/users"> -->
          <!-- <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bell"> -->
          <span class="invisible">通知画面へ</span>
        </a>
      </li>
    </ul>
  </nav>

</header>


<h2><%= @login_user.company_name %></h2>

<div class="actions">
    <button class="button">仕事管理へ</button>
</div>