/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #1E90FF;
}

h2 {
	color: #FFFFFF;
	text-align: center;
}

h9 {
	color: #FFFFFF;
}

em {
	color: #FFFFFF;
}

div.field {
	text-align: center;
	border-radius : 15px;          /* 角丸       */
}

 div.actions {
 	text-align: center;
 	font-size: 50px;
 }

 button.button {
  // display       : inline-block;
  border-radius : 15px;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  background    : #ffffff;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  transition    : .3s;         /* なめらか変化 */
 box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
 border-style: none;
 width: 174px;
 height: 45px;
 font-weight: 600;
 margin:auto;
 margin-top: 40px;

}