<p><%= @email %> 様 ご利用ありがとうございます。</p>

<p>以下のリンクに入っていただきますとログイン画面が現れます。</p>

<p>ログインされるとお支払い画面が現れますので、</p>

<p>そちらでクレジットを登録していただけますと</p>

<p>サービス開始できます。これからもOTaskを宜しく御願い致します。</p>

<p><%= link_to 'こちらからOtaskを始められます', confirmation_url(@resource, confirmation_token: @token) %></p>
